<div class="top-page">
  <h2><span class="under">スコアログとは</span></h2>
  <div class="description">
    <p>スコアログは、楽譜の管理や練習の記録をつけることができるアプリです。</p>
    <p>楽譜棚に楽譜を登録し、簡単に日々の練習記録をつけることが可能です。</p>
    <p>また、カレンダーでいつどんな曲を練習したのか確認できます。</p>
  </div>
  <div class="illustration">
    <div class="illustration-item">
      <%= image_tag "phone.png" %>
      <h4><span class="under">楽譜を登録</span></h4>
      <p>楽譜を楽譜棚に追加。出会う全ての楽譜を管理できます。</p>
    </div>
    <div class="illustration-item">
      <%= image_tag "file.png" %>
      <h4><span class="under">楽譜の整理</span></h4>
      <p>楽譜のステータスを「完成」「練習中」「弾きたい」の3つに分けて登録できます。</p>
    </div>
    <div class="illustration-item">
      <%= image_tag "pen.png" %>
      <h4><span class="under">練習を記録</span></h4>
      <p>楽譜ページで日々の練習記録を簡単に登録できます。</p>
    </div>
    <div class="illustration-item">
      <%= image_tag "calendar.png" %>
      <h4><span class="under">カレンダーで確認</span></h4>
      <p>いつどの曲を練習したのかを一目で確認できます。</p>
    </div>
  </div>
  <div class="signup">
    <%= link_to "スコアログをはじめる！", new_user_registration_path, class: "signup-btn" %>
    <%= link_to "ゲストログインで試してみる！", users_guest_sign_in_path, method: :post, class: "signup-btn" %>
  </div>
  </div>
</div>