<div class="count-box">
  <dl>
    <dd><%= @scores.count %></dd>
    <dt>登録数</dt>
  </dl>
  <dl>
    <dd><%= @scores = current_user.score.where(status: 1).count %></dd>
    <dt>完成</dt>
  </dl>
  <dl>
    <dd><%= @scores = current_user.score.where(status: 2).count %></dd>
    <dt>練習中</dt>
  </dl>
  <dl>
    <dd><%= @scores = current_user.score.where(status: 3).count %></dd>
    <dt>弾きたい</dt>
  </dl>
</div>
<div class="button-area">
  <%= link_to "楽譜を追加する", new_score_path, class: "button" %>
</div>

<div class="tabs">
  <input id="all" type="radio" name="tab-item" checked>
  <label class="tab-item" for="all">すべて</label>
  <input id="finished" type="radio" name="tab-item">
  <label class="tab-item" for="finished">完成</label>
  <input id="practice" type="radio" name="tab-item">
  <label class="tab-item" for="practice">練習中</label>
  <input id="playing" type="radio" name="tab-item">
  <label class="tab-item" for="playing">弾きたい</label>
  
  <div class="tab-content" id="all-content">
    <div class="scores">
      <% @scores = current_user.score.all.order("created_at DESC") %>
      <% @scores.each do |score| %>
        <%= link_to score, class: "score" do %>
          <div class="image"><%= image_tag score.icon.url %></div>
          <p><%= score.title %></p>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="tab-content" id="finished-content">
    <div class="scores">
      <% @scores = current_user.score.where(status: 1).order("created_at DESC") %>
      <% @scores.each do |score| %>
        <%= link_to score, class: "score" do %>
          <div class="image"><%= image_tag score.icon.url %></div>
          <p><%= score.title %></p>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="tab-content" id="practice-content">
    <div class="scores">
      <% @scores = current_user.score.where(status: 2).order("created_at DESC") %>
      <% @scores.each do |score| %>
        <%= link_to score, class: "score" do %>
          <div class="image"><%= image_tag score.icon.url %></div>
          <p><%= score.title %></p>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="tab-content" id="playing-content">
    <div class="scores">
      <% @scores = current_user.score.where(status: 3).order("created_at DESC") %>
      <% @scores.each do |score| %>
        <%= link_to score, class: "score" do %>
          <div class="image"><%= image_tag score.icon.url %></div>
          <p><%= score.title %></p>
        <% end %>
      <% end %>
    </div>
  </div>