<div class="content">
  <section class="show-area">
    <div class="show-image">
      <%= image_tag @score.icon.thumb.url %>
    </div>
    <div class="show-score">
      <p class="score-title"><%= @score.title %></p>
      <table class="details">
        <tbody>
          <tr>
            <th class="details">登録状況</th>
            <td class="details"><%= @score.status_i18n %></td>
          </tr>
          <tr>
            <th class="details">難易度</th>
            <td class="details"><%= @score.grade %></td>
          </tr>
          <tr>
            <th class="details">開始日</th>
            <td class="details"><%= @score.start_date %></td>
          </tr>
          <tr>
            <th class="details">完成日</th>
            <td class="details"><%= @score.completion_date %></td>
          </tr>
          <tr>
            <th class="details">メモ</th>
            <td class="details"><%= @score.point %></td>
          </tr>
        </tbody>
      </table>
      <div class="edit">
        <%= link_to edit_score_path(@score), class: 'edit-icon' do %>
          <i class="far fa-lg fa-edit fa-fw faa-pulse animated-hover"></i>
        <% end %>
        <%= link_to @score, method: :delete, data: { confirm: "楽譜を削除してもよろしいですか?" } do %>
          <i class="far fa-lg fa-trash-alt fa-fw faa-wrench animated-hover"></i>
        <% end %>
      </div>
    </div>
  </section>
  <section class="log-area">
    <h4>練習記録</h4>
    <div id="pagenate">
      <%= render "log" %>
    </div>

    <div class="form-area">
      <%= form_with model: @log, local: true do |f| %>
        <%= hidden_field_tag :score_id, @score.id %>
        <div>
          <%= f.text_area :content, placeholder: "練習記録", class: "text-box", required: true %>
        </div>
        <div>
          <%= f.text_field :start_time, placeholder: "日付を選択", class: 'flatpickr', required: true %>
        </div>
        <div>
          <%= f.submit "記録する", class: "button", id: "log-btn" %>
        </div>
      <% end %>
    </div>
  </section>
</div>